################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Weber/bin
/Weber/.vs/Weber/v15
/Weber/obj
